flows(2).json
[{"id":"83ae9e6.ff5c2e","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"38f56e7.3612592","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"6887a1eb.c1aa48","type":"ui_group","z":"","name":"Default","tab":"38f56e7.3612592","order":1,"disp":true,"width":"6","collapse":false},{"id":"a6fe0cca.feac5","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"3f84c204.ae73ae","type":"ui_group","z":"","name":"Default","tab":"38f56e7.3612592","order":2,"disp":true,"width":"6","collapse":false},{"id":"7b20d4b6.1f401c","type":"inject","z":"83ae9e6.ff5c2e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":120,"wires":[["3ee7fec6.e6a5fa"]]},{"id":"80cf8dcf.764388","type":"ui_form","z":"83ae9e6.ff5c2e","name":"","label":"","group":"6887a1eb.c1aa48","order":0,"width":0,"height":0,"options":[{"label":"Preg","value":"PR","type":"number","required":true,"rows":null},{"label":"Plas","value":"PL","type":"number","required":true,"rows":null},{"label":"Pres","value":"PRE","type":"number","required":true,"rows":null},{"label":"Skin","value":"SK","type":"number","required":true,"rows":null},{"label":"Test","value":"TE","type":"number","required":true,"rows":null},{"label":"Mass","value":"MA","type":"number","required":true,"rows":null},{"label":"Pedi","value":"PE","type":"number","required":true,"rows":null},{"label":"Age","value":"AG","type":"number","required":true,"rows":null}],"formValue":{"PR":"","PL":"","PRE":"","SK":"","TE":"","MA":"","PE":"","AG":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":260,"wires":[["3ee7fec6.e6a5fa"]]},{"id":"3ee7fec6.e6a5fa","type":"function","z":"83ae9e6.ff5c2e","name":"","func":"global.set(\"PR\",msg.payload.PR)\nglobal.set(\"PL\",msg.payload.PL)\nglobal.set(\"PRE\",msg.payload.PRE)\nglobal.set(\"SK\",msg.payload.SK)\nglobal.set(\"TE\",msg.payload.TE)\nglobal.set(\"MA\",msg.payload.MA)\nglobal.set(\"PE\",msg.payload.PE)\nglobal.set(\"AG\",msg.payload.AG)\nvar apikey = \"yUr-rC5Fsqt_0Ijhx_OyaTRdGqEBDb4fFul0K18Mx1Z0\";\nmsg.headers =  {\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload = {\"grant_type\" : \"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":210,"y":200,"wires":[["7d721104.4028b8"]]},{"id":"7d721104.4028b8","type":"http request","z":"83ae9e6.ff5c2e","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":380,"y":200,"wires":[["3586e003.08d52"]]},{"id":"3586e003.08d52","type":"function","z":"83ae9e6.ff5c2e","name":"","func":"var PR = global.get(\"PR\");\nvar PL = global.get(\"PL\");\nvar PRE = global.get(\"PRE\");\nvar SK = global.get(\"SK\");\nvar TE = global.get(\"TE\");\nvar MA = global.get(\"MA\");\nvar PE = global.get(\"PE\");\nvar AG = global.get(\"AG\");\nvar token = msg.payload.access_token;\nvar instance_id = \"5d105a3a-1044-4f90-b875-c60a7c96868b\";\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id};\nmsg.payload = {\"input_data\": [{\"fields\": [\"PR\",\"PL\",\"PRE\",\"SK\",\"TE\",\"MA\",\"PE\",\"AG\"], \"values\": [[PR,PL,PRE,SK,TE,MA,PE,AG]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":200,"wires":[["8fb350df.8e9038"]]},{"id":"8fb350df.8e9038","type":"http request","z":"83ae9e6.ff5c2e","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/3c41cf11-3b43-4948-a503-f353ceeb69d7/predictions","tls":"","persist":false,"proxy":"","authType":"","x":710,"y":200,"wires":[["d5de91c9.4bd858","6a0cd1d8.80566"]]},{"id":"6a0cd1d8.80566","type":"function","z":"83ae9e6.ff5c2e","name":"","func":"msg.payload = msg.payload.predictions[0].values[0][0];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":80,"wires":[["5b8b91e8.2e9da8","d5de91c9.4bd858"]]},{"id":"d5de91c9.4bd858","type":"debug","z":"83ae9e6.ff5c2e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":970,"y":140,"wires":[]},{"id":"5b8b91e8.2e9da8","type":"ui_text","z":"83ae9e6.ff5c2e","group":"3f84c204.ae73ae","order":0,"width":0,"height":0,"name":"Out","label":"Diabetes Chances","format":"{{msg.payload}}","layout":"row-spread","x":890,"y":300,"wires":[]}]